.delay0 {
  animation-delay: 0ms;
  transition: all 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
    box-shadow 0.35s ease-out;
}

.delay100 {
  animation-delay: 100ms;
  transition: all 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
    box-shadow 0.35s ease-out;
}

.delay200 {
  animation-delay: 200ms;
  transition: all 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
    box-shadow 0.35s ease-out;
}

.delay300 {
  animation-delay: 300ms;
  transition: all 0.35s cubic-bezier(0.34, 1.56, 0.64, 1),
    box-shadow 0.35s ease-out;
}
